<div class="container">
  <div *ngIf="orderSent" class="alert alert-success" role="alert">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
  </div>
  <div class="m-a-1">
    <h2 class="text-xs-center">Your Order</h2>
    <table class="table table-bordered table-striped p-a-1">
      <thead>
      <tr>
        <th>Quantity</th>
        <th>Book</th>
        <th class="text-xs-right">Price</th>
        <th class="text-xs-right">Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="order.bookCount == 0">
        <td colspan="4" class="text-xs-center">
          Your order is empty
        </td>
      </tr>
      <tr *ngFor="let orderBook of order.books">
        <td>
          <input type="number" class="form-control-sm" style="width:5em" [value]="orderBook.quantity" (change)="order.updateQuantity(orderBook.book,
        $event.target.value)"/>
        </td>
        <td>{{orderBook.book.bookTitle}}</td>
        <td class="text-xs-right">
          {{orderBook.book.bookPrice | currency:"USD":"symbol":"2.2-2"}}
        </td>
        <td class="text-xs-right">
          {{(orderBook.totalPrice) | currency:"USD":"symbol":"2.2-2" }}
        </td>
        <td class="text-xs-center">
          <button class="btn btn-sm btn-danger" (click)="order.removeOrderBook(orderBook.book.bookId)">
            Remove
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3" class="text-xs-right">Total:</td>
        <td class="text-xs-right">
          {{order.orderPrice | currency:"USD":"symbol":"2.2-2"}}
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="text-xs-center">
    <button class="btn btn-primary" routerLink="/store">Continue Shopping</button>
    <button class="btn btn-secondary" (click)="submitOrder()" [disabled]="order.bookCount == 0">
      Checkout
    </button>
  </div>
</div>
