<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div>
          <h4>{{editing ? "Edit" : "Create"}} a User</h4>
        </div>
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" name="id"
                 [(ngModel)]="user.userId" readonly/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="login">Username</label>
          <input type="text" class="form-control" [(ngModel)]="user.userName" id="login" name="login"
                 #login="ngModel" required
                 minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
          <div *ngIf="login.dirty && login.invalid">
            <small class="form-text text-danger" *ngIf="login.errors.required">
              Your username is required.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.minlength">
              Your username is required to be at least 1 character.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.maxlength">
              Your username cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.pattern">
              Your username can only contain lower-case letters and digits.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="firstName">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.userFirstName" id="firstName"
                 name="firstName" #firstName="ngModel"
                 required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
          <div *ngIf="firstName.dirty && firstName.invalid">
            <small class="form-text text-danger" *ngIf="firstName.errors.required">
              Your first name is required.
            </small>
            <small class="form-text text-danger" *ngIf="firstName.errors.minlength">
              Your first name is required to be at least 1 character.
            </small>
            <small class="form-text text-danger" *ngIf="firstName.errors.maxlength">
              Your first name cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="firstName.errors.pattern">
              Your first name can only contain lower-case letters and digits.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="lastName">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.userLastName" id="lastName" name="lastName"
                 #lastName="ngModel"
                 required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
          <div *ngIf="lastName.dirty && lastName.invalid">
            <small class="form-text text-danger" *ngIf="lastName.errors.required">
              Your last name is required.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.minlength">
              Your last name is required to be at least 1 character.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.maxlength">
              Your last name cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.pattern">
              Your last name can only contain lower-case letters and digits.
            </small>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/admin/users">
          <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
          <span class="fa fa-save"></span>&nbsp;<span> {{editing ? "Save" : "Create"}}</span>
        </button>
      </form>
    </div>
  </div>
</div>
