<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>User Profile</h1>

          <div class="alert alert-success alert-dismissible fade show" *ngIf="updated">
            <strong>User profile Updated</strong>
          </div>

          <div class="alert alert-danger" *ngIf="error">
            <strong>User updating failed!</strong> Please try again later.
          </div>

          <div class="alert alert-danger" *ngIf="errorUserExists">
            <strong>Username already registered!</strong> Please choose another one.
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form name="form" role="form" #userForm="ngForm" *ngIf="!success">

            <div class="form-group">
              <label for="id">ID</label>
              <input type="text" class="form-control" id="id" name="id"
                     [(ngModel)]="user.userId" readonly/>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="login">Username</label>
              <input type="text" class="form-control" [(ngModel)]="user.userName" id="login" name="login"
                     #login="ngModel" required
                     minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
              <div *ngIf="login.dirty && login.invalid">
                <small class="form-text text-danger" *ngIf="login.errors.required">
                  Your username is required.
                </small>
                <small class="form-text text-danger" *ngIf="login.errors.minlength">
                  Your username is required to be at least 1 character.
                </small>
                <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" *ngIf="login.errors.pattern">
                  Your username can only contain lower-case letters and digits.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="firstName">First Name</label>
              <input type="text" class="form-control" [(ngModel)]="user.userFirstName" id="firstName"
                     name="firstName" #firstName="ngModel"
                     required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
              <div *ngIf="firstName.dirty && firstName.invalid">
                <small class="form-text text-danger" *ngIf="firstName.errors.required">
                  Your first name is required.
                </small>
                <small class="form-text text-danger" *ngIf="firstName.errors.minlength">
                  Your first name is required to be at least 1 character.
                </small>
                <small class="form-text text-danger" *ngIf="firstName.errors.maxlength">
                  Your first name cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" *ngIf="firstName.errors.pattern">
                  Your first name can only contain lower-case letters and digits.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="lastName">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="user.userLastName" id="lastName" name="lastName"
                     #lastName="ngModel"
                     required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
              <div *ngIf="lastName.dirty && lastName.invalid">
                <small class="form-text text-danger" *ngIf="lastName.errors.required">
                  Your last name is required.
                </small>
                <small class="form-text text-danger" *ngIf="lastName.errors.minlength">
                  Your last name is required to be at least 1 character.
                </small>
                <small class="form-text text-danger" *ngIf="lastName.errors.maxlength">
                  Your last name cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" *ngIf="lastName.errors.pattern">
                  Your last name can only contain lower-case letters and digits.
                </small>
              </div>
            </div>
            <button class="btn btn-primary" (click)="goBack()">Back</button>
            <button (click)="update()" [disabled]="userForm.form.invalid" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <button class="btn btn-primary" (click)="loadOrders(user.userName)">
        {{showOrders ? "Hide Orders" : "Show Orders"}}
      </button>
      <div *ngIf="showOrders" class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="includeCompleted"/> Display Completed Orders
        </label>
      </div>
      <table *ngIf="showOrders" class="table table-sm">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Price</th>
          <th>Status</th>
          <th colspan="2">Order</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!orders">
          <td colspan="6">There are no orders</td>
        </tr>
        <ng-template ngFor let-o [ngForOf]="getOrders()">
          <tr>
            <td>{{o.orderId}}</td>
            <td>{{o.orderDate}}</td>
            <td>{{o.orderPrice}}</td>
            <td *ngIf="o.orderStatus"><i class="fa fa-check" aria-hidden="true"></i></td>
            <td *ngIf="!o.orderStatus"><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            <th>Product</th>
            <th>Quantity</th>
            <td>
              <button class="btn btn-warning" (click)="completeOrder(o)" [disabled]="o.orderStatus == true">
                Complete
              </button>
              <button class="btn btn-danger" (click)="deleteOrder(o.orderId)">
                Delete
              </button>
            </td>
          </tr>
          <tr *ngFor="let orderBook of o.books">
            <td colspan="4"></td>

            <td><a [routerLink]="['/book', orderBook.book.bookId ]">{{orderBook.book.bookTitle}}</a></td>
            <td>{{orderBook.quantity}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
